<link rel="shortcut icon" href="/images/favicon.gif" type="image/gif" />
<link rel="icon" href="/images/favicon.gif" type="image/gif" />

<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/mathias-meyer/coaching-introduction', text: 'Schedule an Intro Call', color: '#494f7b', textColor: '#ffffff', branding: undefined }); }</script>
<!-- Calendly badge widget end -->
