{% if page.masthead == true %}
<header class="masthead">
  <div class="page-wrapper" style="">
    <a href="/" class="site-logo" rel="home" title="{{ site.title }}">
      <img src="{{ site.logo }}" class="site-logo-img animated fadeInDown" alt="{{ site.title }}">
    </a>

    <div class="site-title animated fadeIn"><a href="/">{{ site.title }}</a></div>

    <p class="site-description animated fadeIn" itemprop="description">{{ site.masthead_bio }}</p>

  </div>
</header>
{% else %}
<p></p>
{% endif %}
