* {
  -webkit-text-size-adjust: 300%;
}

.default {
  display: none;
}

.mobile {
  display: inherit;
}

#head {
  height: 190px;
}

#head #about {
  width: 95%;
}

#head #about h1, #head #about h1 a {
  -webkit-text-size-adjust: 200%;
}

#head #about p {
  display: none;
}

#header-content {
  width: 95%;
  max-width: 100%;
}

#box {
  width: 95%;
  max-width: 100%;
}

html>body #box {
  width: 95%;
  max-width: 100%;
}

@media all and (orientation: landscape) {
  #head #about h1, #head #about h1 a {
    -webkit-text-size-adjust: 150%;
  }

  #head {
    height: 130px;
  }

  #head #about {
    padding-top: 40px;
  }

  * {
    -webkit-text-size-adjust: 200%;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  * {
    -webkit-text-size-adjust: 150%;
  }

  #head #about h1, #head #about h1 a {
    -webkit-text-size-adjust: 150%;
  }

  #head #about {
    padding-top: 40px;
  }

  #head {
    height: 100px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  * {
    -webkit-text-size-adjust: 100%;
  }

  #head #about h1, #head #about h1 a {
    -webkit-text-size-adjust: 120%;
  }

  #head #about {
    padding-top: 50px;
  }

  #head {
    height: 100px;
  }
}


