/* @override 
  http://www.paperplanes.de/themes/paperplanes/stylesheets/screen.css
  http://localhost:3000/themes/paperplanes/stylesheets/screen.css
  http://192.168.2.106:3000/themes/paperplanes/stylesheets/screen.css
*/

/**
 * =Body
 ***************************/
body {
  font: normal 18px "Avenir Next", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #4c4c4c;
  background-color: #f5f5f5;
  text-align: center;
}

img {
  max-width: 600px;
  margin: 0px auto;
}

strong {
  font-weight: 600;
}

/**
 * =Layout
 ***************************/
#box {
  margin: 20px auto;
  text-align: left;
  max-width: 650px;
}

html>body #box {
  max-width: 650px;
  padding-right: 0px;
  margin-bottom: 20px;
}

#content {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 20px 20px;
  line-height: 26px;
}

#footer {
  width: 600px;
  clear: both;
  height: 21px;
  min-height: 21px;
}

#footer_text {
  padding-top: 6px;
  font-size: 14px;
}

#tags, #authors, #search_results {
  display: none;
}

.mobile {
  display: none;
}

/**
 * =Posts and comments
 ***************************/
.item_tags {
    clear: both;
    font-size: 11px;
}

/**
 * =Headers
 ***************************/
#head {
  margin: 0px;
  height: 130px;
  min-height: 130px;
  width: 100%;
  background-color: #2B7598;
  text-align: left;
}

#header-content {
  width: 650px;
  margin: 0px auto;
}

#header-content #paperplane {
  transform: rotate(290deg) scale(0.9);
  -webkit-transform: rotate(290deg) scale(0.9);
  -moz-transform: rotate(290deg) scale(0.9);
  float: right;
  margin-top: -30px;
}

#head #about {
  width: 590px;
  margin: 0px auto; 
  padding-top: 30px;
}

#head #about .about-sub-title {
  font-size: 17px;
}

#head h1 {
  color: white;
  font-size: 24px;
}

#head p {
  margin: 0px;
  margin-top: 5px;
}

#head a, #head a:hover, #head a:active, #head a:visited {
  color: white;
  text-decoration: underline;
}

#articles article {
  margin-bottom: 20px;
}

#articles article:only-child {
  margin-bottom: 0px;
}

#articles article:last-child {
  margin-bottom: 0px;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
h2, h3, h4 {
    margin: 0;
    padding: 0;
}
h2 {
  font-size: 20px;
  padding-top: 2px;
  color: #93c5de;
  font-weight: normal;
}
h3 {
    font-size: 22px;
    padding-bottom: 3px;
    font-weight: normal;
}
h4, .item_meta {
    font-size: 12px;
    color: #777;
    font-weight: normal;
}
.item_meta {
    padding-bottom: 20px;
}

/**
 * =Links
 ***************************/
a {
  color: #2B7598;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

h1 a, h1 a:hover {
    color: #fff;
    text-decoration: none;
    background: none;
    padding: 0;
    margin: 0;
}
h1 a:hover {
    color: #fff;
    text-decoration: underline;
}

/**
 * =Misc
 ***************************/
br {
  clear: both;
}
code {
  font-family: Monaco, 'Courier New', Courier;
  font-size: 15px;
  color: #000;
}

a > code {
  color: #2B7598;
}

blockquote {
  color: #000;
  margin-left: 20px;
  font-style: italic;
}

ul {
  margin: 0em 0em 0em 0em;
  padding-left: 1.5em;
}

li {
  line-height: 26px;
  margin-bottom: 5px;
}

.pagination {
  padding-bottom: 40px;
  font-size: 15px;
}
.next {
  float: right;
}

.previous {
  float: left;
}

#archives h3 {
  font-size: 18px;
  line-height: 28px;
}

#archives .archive-year {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Forms */

.basic-grey {
	margin-left:auto;
	margin-right:auto;
    max-width: 500px;
    padding: 25px 15px 25px 10px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 10px;
	width: 70%;
	line-height:15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
	-moz-box-shadow: inset 0px 1px 4px #ECECEC;
	-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
	font: normal 14px "Avenir Next", Helvetica, Arial, sans-serif;

}
.basic-grey textarea{
	padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('/images/down-arrow.png') no-repeat right;
    background: #FFF url('/images/down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 37px;
	line-height: 25px;
	padding-left: 10px
}
.basic-grey textarea{
    height:250px;
}
.basic-grey .button {
	background: #2B7598;
	border: none;
	padding: 10px 25px 10px 25px;
	color: #FFF;
	box-shadow: 1px 1px 5px #B6B6B6;
	border-radius: 3px;
	text-shadow: 1px 1px 1px #000000;
	cursor: pointer;
    font: normal 14px "Avenir Next", Helvetica, Arial, sans-serif;

}
.basic-grey .button:hover {
    background: #CF7A7A
}

.basic-grey .honey {
    display: none;
    visibility: hidden;
}
