<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--
		This weblog is powered by SimpleLog, a simple Ruby on Rails
		weblog application available at http://simplelog.net
-->

  
  <head>
    <title>paperplanes. Integrity And Passenger Play Nice</title>
    <meta name="robots" content="index,follow"/>
    <meta name="mssmarttagspreventparsing" content="true"/>
    <link rel="shortcut icon" href="/themes/paperplanes/images/favicon.gif" type="image/gif" />
    <link rel="icon" href="/themes/paperplanes/images/favicon.gif" type="image/gif" />
    <meta name="keywords" content="freelancer,software development,web development,development,rails,ruby on rails,blog,berlin,germany,coaching,code reviews">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="author" content="Mathias Meyer"/>
	<meta name="description" content="The weblog of Mathias Meyer, freelance software developer."/>
	<meta name="dc.title" content="paperplanes"/>
	<link rel="start" href="http://www.paperplanes.de" title="paperplanes"/>
    
    
    
    <link href="http://feeds.feedburner.com/Paperplanes" rel="alternate" title="Primary Feed" type="application/rss+xml" />
    <link href="http://www.paperplanes.de/themes/paperplanes/stylesheets/screen.css" media="screen" rel="Stylesheet" title="paperplanes" type="text/css" />
    <script src="http://www.paperplanes.de/themes/paperplanes/javascripts/site.js" type="text/javascript"></script>
    <script src="http://www.paperplanes.de/themes/paperplanes/javascripts/prototype.js" type="text/javascript"></script>
    <script src="http://www.paperplanes.de/themes/paperplanes/javascripts/lightbox.js" type="text/javascript"></script>
  </head>
  
  <body id="www-paperplanes-de">
      
      

      <div id="top"></div>
      
      <div id="box">
        
        <!-- masthead -->
        <a href="/"><div id="masthead">
        </div>
        </a>
        
        <div id="above_menu" title="home"></div>
        <!-- end masthead -->
        
        <div id="menu" style="display:inline">
          <div id="menu_left_pad"></div>
          <a href="http://www.paperplanes.de/pages/work"><div id="menu_work"></div></a>
          <div id="menu_sep_1"></div>
          <a href="http://www.paperplanes.de/pages/about"><div id="menu_about"></div></a>
          <div id="menu_sep_2"></div>
          <a href="/"><div id="menu_journal_active"></div></a>
          <div id="menu_sep_3"></div>
          <a href="http://www.paperplanes.de/pages/contact"><div id="menu_contact"></div></a>
          <div id="menu_right_pad"></div>
        </div>
    
        <!-- content -->
        <div id="content">
          {{ content }}
        </div>
        <!-- end content -->
    
        <!-- footer -->
        <div id="footer">
            <div id="footer">
  <div id="footer_text">&copy; 2007 Mathias Meyer, PAPERPLANES <a href="http://www.paperplanes.de/pages/imprint">Imprint/Impressum</a></div>
</div>
        </div>
        <!-- end footer -->
          
      </div>

<script src="http://static.getclicky.com/50156.js" type="text/javascript"></script>
      
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-326483-2";
urchinTracker();
</script>
  </body>
  
<!--
		SimpleLog version 2.0.2
-->


</html>
