---
layout: default
---
<article class="hentry">
  <div class="item_perma">
    <div class="item_details">
      <header>
        <h3 class="entry-title">{{ page.title }}</h3>
        <h4><a href="{{ page.url }}" title="Permalink for this post">{{ page.date | date_to_long_string }}</a> by <a href="http://twitter.com/roidrage">Mathias Meyer</a></h4>
      </header>
    </div>
    <div class="item_content">
      {{ content }}
    </div>
    <div class="item_meta">
      <div class="item_tags">Tags:
        {% for tag in page.tags %}
        <a href="/tags/{{ tag }}.html" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
        {% endfor %}
      </div>
      <div class="item_hierarchy">Hierarchy:
        {% if page.previous %}
          <a href="{{ page.previous.url }}" title="Previous post">previous</a>
        {% endif %}
        
        {% if page.next %}
          {% if page.previous %}, {% endif %}<a href="{{ page.next.url }}" title="Next post">next</a>
        {% endif %}
        </div>
    </div>
  </div>
</article>
