---
layout: default
---
<div class="item_perma">
  <div class="item_details">
    <h3>{{ page.title }}</h3>
    <h4>Posted  on <a href="{{ page.url }}" title="Permalink for this post">{{ page.date | date_to_string }}</a></h4>
  </div>
  <div class="item_content">
    {{ content }}
  </div>
  <div class="item_meta">
    <div class="item_tags">Tags:
      {% for topic in page.categories %}
      <a href="http://www.paperplanes.de/tags/{{ topic }}.html" title="View posts tagged with &quot;{{ topic }}&quot;">{{ topic }}</a>{% if forloop.last != true %}, {% endif %}
      {% endfor %}
    </div>
    <div class="item_hierarchy">Hierarchy:
      {% if previous %}
        <a href="{{ previous.url }}" title="Previous post">previous</a>
      {% endif %}
      
      {% if next %}
        {% if previous %}, {% endif %}<a href="{{ next.url }}" title="Next post">next</a>
      {% endif %}
      </div>
  </div>
</div>

<div id="comments">
  <a href="{{ page.url }}#disqus_thread">View Comments</a>
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://disqus.com/forums/paper-planes/embed.js"></script>
</div>

<script type="text/javascript">
//<![CDATA[
(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/paper-planes/get_num_replies.js' + query + '"></' + 'script>');
	})();
//]]>
</script>
